.geo-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.geo-form {
  width: 600px;
  min-height: 100px;
}

.geo-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.error-text-box,
.error-geo-input {
  color: brown;
}
